service: github-status-check
# app and org for use with dashboard.serverless.com
app: my-veracode
org: yaakovlerer

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '2'

useDotenv: true

package:
  exclude:
    - test/**
    - '**/*.test.js'
    - 'empty.env'

custom:
  prod:
    Stack: ExampleSite
    LogLevel: info
  dev:
    Stack: ExampleSite
    LogLevel: debug
  settings:
    ACCOUNT_ID: "#{AWS::AccountId}"
    TARGET_REGION: ${self:provider.region}
    logLevel: ${self:custom.${self:provider.stage}.LogLevel}
    GITHUB_APP_ID: ${env:GITHUB_APP_ID}
    GITHUB_APP_INSTALL_ID: ${env:GITHUB_APP_INSTALL_ID}
    #API_ID: ${env:API_ID}
    PEM: ${env:PEM}
    #API_KEY: ${env:API_KEY}

provider:
  name: aws
  runtime: nodejs12.x
  #stage: ${opt:stage, 'dev'}
  region: ap-southeast-2
  apiGateway:
    shouldStartNameWithService: true
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - sqs:SendMessage
          Resource: 
            - { "Fn::GetAtt" : ["ScanChecks","Arn"]}
  #iamRoleStatements:
  #  - Effect: "Allow"
  #    Action:
  #      - sqs:SendMessage
  #    Resource: 
  #      - { "Fn::GetAtt" : ["ScanChecks","Arn"]}
      # - { "Fn::GetAtt" : ["GithubReportBack","Arn"]}
  environment: ${self:custom.settings}
  lambdaHashingVersion: 20201221

plugins:
  - serverless-pseudo-parameters
  - serverless-iam-roles-per-function

functions:
  githubListener:
    handler: githubHandler.webhookListen
    memorySize: 128
    events:
      - http:
          path: /github
          method: post
  # hello:
  #   handler: handler.checkScanStatus
  #   memorySize: 128
  #   events:
  #     - http:
  #         path: /checkScanStatus/{appGUID}
  #         method: get
  #     - http:
  #         path: /checkScanStatus/{appGUID}/{sandboxGUID}
  #         method: get
  veracodeForGithubBuildProcessor:
    handler: handler.sqsSingleScanSample
    memorySize: 128
    timeout: 12
    environment:
      API_ID: ${env:API_ID}
      API_KEY: ${env:API_KEY}
    events:
      - sqs:
          arn: 
            Fn::GetAtt:
              - ScanChecks
              - Arn
          batchSize: 1
resources:
  Resources:
    ScanChecks:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "ScanChecks"
